:root {
  --paletteprimarydark:#115293;
  --palettesecondarymain:#dc004e;
  --paletteinfolight:#64b5f6;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: auto;
  width: 600px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  background-color: var(--paletteprimarydark);
}

.footer , .header {
  /* margin: auto; */
  padding-bottom: 10px;
  padding-top:20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
  width:100%;
  background-color: var(--paletteinfolight);
}

.footer{
  margin: auto;
  width: 600px;
}


.cell {
  user-select: none;
  box-sizing: border-box;
  display: flex;
  padding: 5px;
  flex: 0 1 100px;
  width: 110px;
  height: 110px;
  border: 1px solid white;
  /* transition-duration: 0.5s; */
  background-color: #81c784;
  font-size: 50px;
  font-weight: 800;
  justify-content: center;
  align-items: center;

  transition: opacity .2s,width .5s,height .5s,font .5s;
    transition-property: opacity, width, height, font;
    transition-duration: 0.2s, 0.5s, 0.5s, 0.5s;
    transition-timing-function: ease, ease, ease, ease;
    transition-delay: 0s, 0s, 0s, 0s;

 
}
.cell:hover {
  cursor: pointer;
  background-color: var(--paletteinfolight);
  opacity: 0.7;  
  transition: 0.3s all ease;
}

.cell:active {
  transform: scale(1.1);
}

.cell:empty{
  background-color: #dc004e;
}

.game__field {
  
  display: flex;
  flex-flow: row wrap;
  /* margin: auto; */
  width: 300px;
  height: 300px; 
  margin-bottom: 80px;
  
  justify-content: center;
  align-items: center;
  align-content: center;  
}

.game__status {
  font-size: 20px;
  color: #eceff1;
  transition: 0.3s all ease;
}

.description {
  font-size: 20px;
  
}

.about {
  color: #eceff1;
  line-height: 1.9;
}



.view__settings{
  display: flex;
  flex-direction: row; 
  align-items: center;
}

.icons {
 font-size: 20px;
}

kbd {
  background-color: #524d4d;
  border-color: #A9A9A9 #8C8C8C #C6C6C6 #C0C0C0;
  border-radius: 5px 5px 5px 5px;
  border-style: solid;
  border-width: 1px 1px 3px;
  box-shadow: -1px 1px 1px #484848, 1px 1px 1px #484848;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 2px 8px;
  margin: 0.5rem;
  text-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  color: #fdfdfd;
}


.form_radio label:hover:before {
	filter: brightness(130%);
}

.color__btn{
  padding: 0;
}

 


@media (max-width: 768px) {
  .container, .footer{
    width: 500px;
   
  }

  .cell {
    width: 100px;
    height: 100px;
  }

  .game__field {
    margin-bottom: 150px;
  }

}



@media (max-width: 650px) {
  .container, .footer{
    width: 450px;
   
  }

  .cell {
    width: 90px;
    height: 90px;
  }

  .game__field {
    margin-bottom: 170px;
  }

}